{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static '../static/edit.js' %}"></script>

<div class="container mx-auto w-full flex">
  <!-- Left Panel: Employee List -->
  <div class="w-2/3 text-white px-6 sticky top-0 h-screen overflow-y-scroll" style="background-color: #292C2D;">
    <div class="sticky top-0 bg-[#292C2D] z-10">
      <!-- Search Bar -->
      <div class="mt-6 mb-6">
        <input type="text" id="search" placeholder="Search" class="w-full bg-[#404040] text-white px-4 py-2 rounded-full">
      </div>

      <!-- Manager Section -->
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold text-white">Manager</h2>
        <button onclick="renderaddemployee()" class="px-4 py-2 rounded-full flex items-center text-black" style="background-color:#ffffff;">
          Add Employee <span class="ml-2 text-2xl">+</span>
        </button>
      </div>

  <!-- Employee Cards -->
    <div class="grid grid-cols-2 gap-4">
      {% for item in employee_positions %}
      <!-- Employee Card -->
      <div class="employee-card p-4 rounded-lg flex justify-between"
        style="background-color:#404040;"
        data-id="{{ item.employee.id }}"
        data-first-name="{{ item.employee.first_name }}"
        data-last-name="{{ item.employee.last_name }}"
        data-gender="{{ item.employee.get_gender_display }}"
        data-birth-date="{{ item.employee.birth_date }}"
        data-position="{{ item.position.group.name }}"
        data-account="{{ item.employee.account.username }}"
        data-salary="{{ item.employee.salary }}">

        <div class="flex items-center space-x-4 ">
          <div class="w-10 h-10 bg-gray-400 rounded-full flex items-center justify-center">
            {{ item.employee.first_name|slice:":1" }}
          </div>
          <div>
            <h3 class="font-semibold text-white">{{ item.employee.first_name }}</h3>
            <p class="text-gray-400 text-sm">{{ item.position.group.name }}</p>
          </div>
        </div>
        <button onclick="renderEditPage({{ item.employee.id }})">
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
      {% endfor %}
    </div>

    </div>
  </div>

  <!-- Right Section (Edit Form) -->
    <div id="edit-form-container" class="w-1/3 bg-gray-200 p-6 sticky top-0 h-screen overflow-y-scroll hidden">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold">Edit Employee</h2>
      </div>

      <form id="edit-form" method="post" onsubmit="updateEmployee(event)">
        {% csrf_token %}
        <label class="block mb-2">First Name</label>
        <input type="text" id="first-name" class="w-full p-2 mb-4 border rounded" />

        <label class="block mb-2">Last Name</label>
        <input type="text" id="last-name" class="w-full p-2 mb-4 border rounded" />

        <label class="block mb-2">Account</label>
        <input type="text" id="account" class="w-full p-2 mb-4 border rounded" />

        <label class="block mb-2">Gender</label>
        <select id="gender"  class="w-full p-2 mb-4 border rounded">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="LGBT">LGBT</option>
        </select>

        <label class="block mb-2">Birth Date</label>
        <input type="date" id="birth-date" class="w-full p-2 mb-4 border rounded" />

        <label class="block mb-2">Position</label>
        <select id="position" class="w-full p-2 mb-4 border rounded">
            <option value="Manager">Manager</option>
            <option value="Cashier">Cashier</option>
        </select>

        <label class="block mb-2">Salary</label>
        <input type="text" id="salary" class="w-full p-2 mb-4 border rounded" />

        <div class="flex justify-center border-t pt-4 mt-4">
          <!-- Save Button -->
          <button type="submit" class="w-24 bg-black text-white py-3 rounded-full hover:bg-gray-800 mr-5">Save</button>
          <!-- Delete Button -->
          <button type="button" onclick="deleteEmployee()" class="w-24 bg-red-600 text-white py-3 rounded-full hover:bg-red-800">Delete</button>
      </div>
    </form>

    </div>

  <!-- Right Section (Add Employee Form) -->
  <div id="add-employee-form" class="w-1/3 bg-gray-200 p-6 sticky top-0 h-screen overflow-y-scroll hidden">
    <h2 class="text-2xl font-semibold mb-6">Add Employee</h2>
    <form method="post" class="space-y-4">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="error text-red-500">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
      {% endif %}
        <div class="first_name">
      {% if form.first_name.errors %}
        <p class="text-red-500 text-sm mt-2">{{ form.first_name.errors.0 }}</p>
      {% endif %}
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
        </div>

        <div class="last_name">
          {% if form.last_name.errors %}
          <p class="text-red-500 text-sm mt-2">{{ form.last_name.errors.0 }}</p>
          {% endif %}
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
        </div>

        <div class="username">
          {% if form.username.errors %}
          <p class="text-red-500 text-sm mt-2">{{ form.username.errors.0 }}</p>
          {% endif %}
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>

        <div class="password">
          {% if form.password.errors %}
          <p class="text-red-500 text-sm mt-2">{{ form.password.errors.0 }}</p>
          {% endif %}
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>

        <div class="gender">
          {{ form.gender.label_tag }}
          {{ form.gender }}
        </div>

        <div class="birth_date">
          {% if form.birth_date.errors %}
          <p class="text-red-500 text-sm mt-2">{{ form.birth_date.errors.0 }}</p>
          {% endif %}
          {{ form.birth_date.label_tag }}
          {{ form.birth_date }}
        </div>  

        <div class="position">
          {{ form.position.label_tag }}
          {{ form.position }}
        </div>
        <div class="salary">
          {% if form.salary.errors %}
          <p class="text-red-500 text-sm mt-2">{{ form.salary.errors.0 }}</p>
          {% endif %}
          {{ form.salary.label_tag }}
          {{ form.salary }}
        </div>
        <button type="submit" class="w-full bg-black text-white py-3 rounded-full hover:bg-gray-800 transition duration-300">Add Employee</button>
    </form>
  </div>

</div>
{% endblock %}
