<nav class="flex flex-col space-y-4 font-semibold">
  <div class="menu">
      <a href="{% url 'menu' %}" class="flex items-center p-4 hover:bg-[#404040] rounded-lg">
          <i class="fa-solid fa-bars mr-2"></i>
          <span>Menu</span>
      </a>
  </div>

  <div class="order">
      <a href="{% url 'order_history' %}" class="flex items-center p-4 hover:bg-[#404040] rounded-lg">
          <i class="fa-solid fa-clock-rotate-left mr-2"></i>
          <span>Order</span>
      </a>
  </div>

  <div class="dashboard relative inline-block text-left">
      <div class="flex items-center p-4 hover:bg-[#404040] rounded-lg cursor-pointer" onclick="dashboardDropdown()">
          <i class="fa-solid fa-chart-simple mr-2"></i>
          <span>Dashboard</span>
          <i class="fa-solid fa-caret-down ml-2"></i>
      </div>

      <!-- Dropdown menu (initially hidden) -->
      <div id="dashboardDropdown" class="hidden absolute right-0 mt-2 w-48 origin-top-right bg-gray-200 border border-gray-500 rounded-md shadow-lg z-10">
          <div class="py-1">
              <a href="{% url 'dashboard' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300">
                  <i class="fa-solid fa-sun pr-2"></i>Day
              </a>
              <a href="{% url 'dashboard_all' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300">
                  <i class="fa-solid fa-store pr-2"></i>All
              </a>
          </div>
      </div>
  </div>

  <div class="schedule">
    <a href="{% url 'schedule' %}" class="flex items-center p-4 hover:bg-[#404040] rounded-lg">
        <i class="fa-solid fa-user mr-2"></i>
        <span>Schedule</span>
    </a>
</div>
</nav>

<div class="user relative inline-block text-left pt-20">
  <div class="flex justify-between items-center p-4 hover:bg-[#404040] rounded-lg cursor-pointer" onclick="logoutDropdown()">
      <div class="name flex gap-2">
          <span class="w-10 h-10 bg-gray-400 rounded-full flex items-center justify-center">
              {{ user.username|slice:":1" }}
          </span>
          <p class="p-2 font-bold">{{ user.username }}</p>
      </div>

      <div class="setting">
          <i class="fa-solid fa-gear"></i>
      </div>
  </div>

  <!-- Dropdown menu (initially hidden) -->
  <div id="logoutDropdown" class="hidden absolute right-0 mt-2 w-48 origin-top-right bg-gray-200 border border-gray-500 rounded-md shadow-lg z-10">
      <div class="flex gap-2 px-2 py-3 text-m text-gray-700 hover:bg-gray-300">
          <i class="fa-solid fa-lock pl-2 mt-1"></i>
          <a href="{% url 'password_change' %}"><b>Change Password</b></a>
      </div>
      <div class="flex gap-2 px-2 py-3 text-m text-gray-700 hover:bg-gray-300">
          <i class="fa-solid fa-right-from-bracket pl-2 mt-1"></i>
          <a href="{% url 'logout' %}"><b>Logout</b></a>
      </div>
  </div>
</div>
