{% load tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
  </head>
  <body
    class="bg-black text-white min-h-screen flex items-center justify-center"
  >
    <div class="flex w-full max-w-4xl">
      <!-- Left side with logo -->
      <div class="w-1/2 p-8 flex flex-col justify-center items-center">
        <img
          src="../static/images/bean_balance_logo.png"
          alt="Bean Balance Logo"
          class="w-100 mb-4"
        />
      </div>

      <!-- Right side with login form -->
      <div class="w-1/2 bg-white text-black p-12 rounded-lg">
        <h2 class="text-3xl font-bold mb-8 text-center">Log In</h2>
        {% if messages %}
            <div>
            {% for message in messages %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                <span class="block sm:inline">{{ message }}</span>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}" class="max-w-md mx-auto p-6 bg-white shadow-md rounded-lg">
          {% csrf_token %}
          <div class="mb-4">
              <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
              {{ form.username|add_class:"mt-1 block w-full p-2 border border-gray-300 rounded-md" }}
              {% if form.username.errors %}
                  <span class="text-red-600 text-sm">{{ form.username.errors }}</span>
              {% endif %}
          </div>

          <div class="mb-4">
              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
              {{ form.password|add_class:"mt-1 block w-full p-2 border border-gray-300 rounded-md" }}
              {% if form.password.errors %}
                  <span class="text-red-600 text-sm">{{ form.password.errors }}</span>
              {% endif %}
          </div>

          <button
              type="submit"
              class="w-full bg-blue-200 text-gray-800 font-semibold py-2 rounded-full hover:bg-blue-300 transition duration-300"
          >
              LOG IN
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
