<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
  </head>
  <body
    class="bg-black text-white min-h-screen flex items-center justify-center"
  >
    <div class="flex w-full max-w-4xl">
      <!-- Left side with logo -->
      <div class="w-1/2 p-8 flex flex-col justify-center items-center">
        <img
          src="../static/images/bean_balance_logo.png"
          alt="Bean Balance Logo"
          class="w-100 mb-4"
        />
      </div>

      <!-- Right side with login form -->
      <div class="w-1/2 bg-white text-black p-12 rounded-lg">
        <h2 class="text-3xl font-bold mb-8 text-center">Log In</h2>
        {% if messages %}
            <div>
            {% for message in messages %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                <span class="block sm:inline">{{ message }}</span>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {{ form.username.errors }}
          <div class="mb-6">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Username"
              required
              class="w-full px-4 py-2 rounded-full bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200"
            />
          </div>
          {{ form.password.errors }}
          <div class="mb-6">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
              class="w-full px-4 py-2 rounded-full bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200"
            />
          </div>
          <button
            type="submit"
            class="w-full bg-blue-200 text-blue-800 font-semibold py-2 rounded-full hover:bg-blue-300 transition duration-300"
          >
            LOG IN
          </button>
        </form>
        <p class="text-center mt-4">
          <a href="" class="text-sm text-gray-600 hover:underline"
            >Forgot Password?</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
